* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 100%;
  background-image: url("../images/blue-corner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header .animation-container {
  background-image: linear-gradient(45deg, transparent, white);
  background-size: 1000%;
  background-position: right;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10%;
}

svg {
  position: absolute;
  margin-top: 10%;
}

.hidden {
  visibility: hidden;
}

#phone-svg {
  margin-left: 40%;
}

#tablet-svg {
  margin-left: 22%;
}

.animate-laptop {
  -webkit-animation: laptop 1s ease forwards;
          animation: laptop 1s ease forwards;
}

.animate-phone {
  -webkit-animation: phone 1s ease forwards;
          animation: phone 1s ease forwards;
}

.animate-tablet {
  -webkit-animation: tablet 1s ease forwards;
          animation: tablet 1s ease forwards;
}

.remove-laptop {
  -webkit-animation: remove-laptop 1s ease forwards;
          animation: remove-laptop 1s ease forwards;
}

.remove-phone {
  -webkit-animation: remove-phone 1s ease forwards;
          animation: remove-phone 1s ease forwards;
}

.remove-tablet {
  -webkit-animation: remove-tablet 1s ease forwards;
          animation: remove-tablet 1s ease forwards;
}

@-webkit-keyframes laptop {
  from {
    opacity: 0;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes laptop {
  from {
    opacity: 0;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes phone {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
}

@keyframes phone {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
}

@-webkit-keyframes tablet {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(-50px);
            transform: translatex(-50px);
  }
}

@keyframes tablet {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(-50px);
            transform: translatex(-50px);
  }
}

@-webkit-keyframes remove-laptop {
  to {
    -webkit-transform: translatex(500px);
            transform: translatex(500px);
    opacity: 0;
  }
}

@keyframes remove-laptop {
  to {
    -webkit-transform: translatex(500px);
            transform: translatex(500px);
    opacity: 0;
  }
}

@-webkit-keyframes remove-phone {
  to {
    opacity: 0;
    margin-left: 0;
  }
}

@keyframes remove-phone {
  to {
    opacity: 0;
    margin-left: 0;
  }
}

@-webkit-keyframes remove-tablet {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remove-tablet {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#hero1 path:nth-child(1) {
  stroke-dasharray: 512.6173095703125;
  stroke-dashoffset: 512.6173095703125;
  -webkit-animation: animate-hero 1s ease forwards 7.0s;
          animation: animate-hero 1s ease forwards 7.0s;
}

#hero1 path:nth-child(2) {
  stroke-dasharray: 281.33758544921875;
  stroke-dashoffset: 281.33758544921875;
  -webkit-animation: animate-hero 1s ease forwards 7.2s;
          animation: animate-hero 1s ease forwards 7.2s;
}

#hero1 path:nth-child(3) {
  stroke-dasharray: 319.1973571777344;
  stroke-dashoffset: 319.1973571777344;
  -webkit-animation: animate-hero 1s ease forwards 7.4s;
          animation: animate-hero 1s ease forwards 7.4s;
}

#hero1 path:nth-child(4) {
  stroke-dasharray: 365.16094970703125;
  stroke-dashoffset: 365.16094970703125;
  -webkit-animation: animate-hero 1s ease forwards 7.6s;
          animation: animate-hero 1s ease forwards 7.6s;
}

#hero1 path:nth-child(5) {
  stroke-dasharray: 281.3380432128906;
  stroke-dashoffset: 281.3380432128906;
  -webkit-animation: animate-hero 1s ease forwards 7.8s;
          animation: animate-hero 1s ease forwards 7.8s;
}

#hero1 path:nth-child(6) {
  stroke-dasharray: 208.87973022460938;
  stroke-dashoffset: 208.87973022460938;
  -webkit-animation: animate-hero 1s ease forwards 8s;
          animation: animate-hero 1s ease forwards 8s;
}

#hero1 path:nth-child(7) {
  stroke-dasharray: 281.3381042480469;
  stroke-dashoffset: 281.3381042480469;
  -webkit-animation: animate-hero 1s ease forwards 8.2s;
          animation: animate-hero 1s ease forwards 8.2s;
}

#hero1 path:nth-child(8) {
  stroke-dasharray: 151.67999267578125;
  stroke-dashoffset: 151.67999267578125;
  -webkit-animation: animate-hero 1s ease forwards 8.4s;
          animation: animate-hero 1s ease forwards 8.4s;
}

#hero1 path:nth-child(9) {
  stroke-dasharray: 270.79364013671875;
  stroke-dashoffset: 270.79364013671875;
  -webkit-animation: animate-hero 1s ease forwards 8.6s;
          animation: animate-hero 1s ease forwards 8.6s;
}

#hero1 path:nth-child(10) {
  stroke-dasharray: 327.373046875;
  stroke-dashoffset: 327.373046875;
  -webkit-animation: animate-hero 1s ease forwards 8.8s;
          animation: animate-hero 1s ease forwards 8.8s;
}

#hero1 path:nth-child(11) {
  stroke-dasharray: 281.3384094238281;
  stroke-dashoffset: 281.3384094238281;
  -webkit-animation: animate-hero 1s ease forwards 9s;
          animation: animate-hero 1s ease forwards 9s;
}

#hero1 path:nth-child(12) {
  stroke-dasharray: 152.3493194580078;
  stroke-dashoffset: 152.3493194580078;
  -webkit-animation: animate-hero 1s ease forwards 9.2s;
          animation: animate-hero 1s ease forwards 9.2s;
}

.fill {
  -webkit-animation: fillSVG 2s ease forwards;
          animation: fillSVG 2s ease forwards;
}

@-webkit-keyframes animate-hero {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-hero {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fillSVG {
  from {
    fill: transparent;
    margin-left: 0px;
  }
  to {
    fill: #76faff;
    margin-left: 500px;
  }
}

@keyframes fillSVG {
  from {
    fill: transparent;
    margin-left: 0px;
  }
  to {
    fill: #76faff;
    margin-left: 500px;
  }
}

.container-animation {
  -webkit-animation: container-animation 3s ease forwards 1s;
          animation: container-animation 3s ease forwards 1s;
}

@-webkit-keyframes container-animation {
  to {
    background-position: left;
  }
}

@keyframes container-animation {
  to {
    background-position: left;
  }
}
/*# sourceMappingURL=index.css.map */