* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 100%;
  background-image: url("../images/blue-corner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header .animation-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10%;
}

svg {
  position: absolute;
  margin-top: 10%;
}

.hidden {
  visibility: hidden;
}

#phone-svg {
  margin-left: 40%;
}

#tablet-svg {
  margin-left: 20%;
}

.animate-laptop {
  -webkit-animation: laptop 1s ease forwards;
          animation: laptop 1s ease forwards;
}

.animate-phone {
  -webkit-animation: phone 1s ease forwards;
          animation: phone 1s ease forwards;
}

.animate-tablet {
  -webkit-animation: tablet 1s ease forwards;
          animation: tablet 1s ease forwards;
}

.remove-laptop {
  -webkit-animation: remove-laptop 1s ease forwards;
          animation: remove-laptop 1s ease forwards;
}

.remove-phone {
  -webkit-animation: remove-phone 1s ease forwards;
          animation: remove-phone 1s ease forwards;
}

.remove-tablet {
  -webkit-animation: remove-tablet 1s ease forwards;
          animation: remove-tablet 1s ease forwards;
}

@-webkit-keyframes laptop {
  from {
    opacity: 0;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes laptop {
  from {
    opacity: 0;
    -webkit-transform: translatey(50px);
            transform: translatey(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes phone {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
}

@keyframes phone {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(50px);
            transform: translatex(50px);
  }
}

@-webkit-keyframes tablet {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(-50px);
            transform: translatex(-50px);
  }
}

@keyframes tablet {
  from {
    opacity: 0;
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(-50px);
            transform: translatex(-50px);
  }
}

@-webkit-keyframes remove-laptop {
  to {
    -webkit-transform: translatex(500px);
            transform: translatex(500px);
    opacity: 0;
  }
}

@keyframes remove-laptop {
  to {
    -webkit-transform: translatex(500px);
            transform: translatex(500px);
    opacity: 0;
  }
}

@-webkit-keyframes remove-phone {
  to {
    opacity: 0;
    margin-left: 0;
  }
}

@keyframes remove-phone {
  to {
    opacity: 0;
    margin-left: 0;
  }
}

@-webkit-keyframes remove-tablet {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remove-tablet {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */