header{
    width: 100%;
    height: 100%;

    background-image: url('../images/blue-corner-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .animation-container{
        background-color: rgba(252, 134, 66, 0.90);
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 10%;
    }
}

svg{
    position: absolute;
    margin-top: 10%;
    z-index: 2;
}

.hidden{
    visibility: hidden;
}

#phone-svg{
    margin-left: 40%;
}

#tablet-svg{
    margin-left: 22%;
}

.animate-laptop{
    animation: laptop 1s ease forwards;
}

.animate-phone{
    animation: phone 1s ease forwards;
}

.animate-tablet{
    animation: tablet 1s ease forwards;
}

.remove-laptop{
    animation: remove-laptop 1s ease forwards;
}

.remove-phone{
    animation: remove-phone 1s ease forwards;
}

.remove-tablet{
    animation: remove-tablet 1s ease forwards;
}

@keyframes laptop{
    from{
        opacity: 0;
        transform: translatey(50px);
    }
    to{
        opacity: 1;
        transform: translatey(0px);
    }
}

@keyframes phone{
    from{
        opacity: 0;
        transform: translatex(0px);
    }
    to{
        opacity: 1;
        transform: translatex(50px);
    }
}
@keyframes tablet{
    from{
        opacity: 0;
        transform: translatex(0px);
    }
    to{
        opacity: 1;
        transform: translatex(-50px);
    }
}

@keyframes remove-laptop{
    to{
        transform: translatex(500px);
        opacity: 0;
    }
}
@keyframes remove-phone{

    to{
        opacity: 0;
        margin-left: 0;
    }
}

@keyframes remove-tablet{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

// ANIMATION COMMENTS

#hero1{
    margin-top: 15%;
}

#hero1 path:nth-child(1){
    stroke-dasharray: 534.094970703125;
    stroke-dashoffset: 534.094970703125;
    animation: animate-hero 1s ease forwards 7.0s;
}
#hero1 path:nth-child(2){
    stroke-dasharray: 343.50872802734375;
    stroke-dashoffset: 343.50872802734375;
    animation: animate-hero 1s ease forwards 7.2s;
}
#hero1 path:nth-child(3){
    stroke-dasharray: 374.6701354980469;
    stroke-dashoffset: 374.6701354980469;
    animation: animate-hero 1s ease forwards 7.4s;
}
#hero1 path:nth-child(4){
    stroke-dasharray: 381.0516052246094;
    stroke-dashoffset: 381.0516052246094;
    animation: animate-hero 1s ease forwards 7.6s;
}
#hero1 path:nth-child(5){
    stroke-dasharray: 343.50927734375;
    stroke-dashoffset: 343.50927734375;
    animation: animate-hero 1s ease forwards 7.8s;
}
#hero1 path:nth-child(6){
    stroke-dasharray: 236.832275390625;
    stroke-dashoffset: 236.832275390625;
    animation: animate-hero 1s ease forwards 8s;
}
#hero1 path:nth-child(7){
    stroke-dasharray: 343.5094909667969;
    stroke-dashoffset: 343.5094909667969;
    animation: animate-hero 1s ease forwards 8.2s;
}
#hero1 path:nth-child(8){
    stroke-dasharray: 159.55194091796875;
    stroke-dashoffset: 159.55194091796875;
    animation: animate-hero 1s ease forwards 8.4s;
}
#hero1 path:nth-child(9){
    stroke-dasharray: 289.18182373046875;
    stroke-dashoffset: 289.18182373046875;
    animation: animate-hero 1s ease forwards 8.6s;
}
#hero1 path:nth-child(10){
    stroke-dasharray: 387.5021667480469;
    stroke-dashoffset: 387.5021667480469;
    animation: animate-hero 1s ease forwards 8.8s;
}
#hero1 path:nth-child(11){
    stroke-dasharray: 445.8540344238281;
    stroke-dashoffset: 445.8540344238281;
    animation: animate-hero 1s ease forwards 9s;
}
#hero1 path:nth-child(12){
    stroke-dasharray: 343.5096740722656;
    stroke-dashoffset: 343.5096740722656;
    animation: animate-hero 1s ease forwards 9.2s;
}
#hero1 path:nth-child(13){
    stroke-dasharray: 281.66729736328125;
    stroke-dashoffset: 281.66729736328125;
    animation: animate-hero 1s ease forwards 9.4s;
}
#hero1 path:nth-child(14){
    stroke-dasharray: 209.96665954589844;
    stroke-dashoffset: 209.96665954589844;
    animation: animate-hero 1s ease forwards 9.6s;
}

.fill{
    animation: fillSVG 2s ease forwards;
}

@keyframes animate-hero{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fillSVG{
    from{
        fill: transparent;
        margin-left: 0px;
    }
    to{
        fill: white;
        margin-left: 180px;
    }
}

// ANIMATING THE COMMENTS

.comment-animation-container{

    position: absolute;
    top: 40%;
    left: 50%;

    font-size: 5rem;
    font-weight: bold;
    color: white;

    width: 20%;

    animation: comments 1s ease forwards 2.8s;

}

@keyframes comments{
    to{
        left: 30%;
    }
}

.move-text{
    animation: move-text 3s ease forwards;
}

@keyframes move-text{

    0%{
        left:30%;
        top: 40%;
    }
    50%{
        left: 35%;
        top: 40%;
    }
    100%{
        font-size: 30px;
        left: 42.5%;
        top: 42%;
        color: rgb(229,133,75);
        // color:rgb(25, 140, 155);
    }

}
